In [ ]:
import pandas as pd

Load Data thô

In [ ]:
cars_data = pd.read_csv('cars_dataset_15_manufactures.csv',sep = ';',encoding='utf-8')
cars_data

                                                     url  ... torque
0      https://www.cars-data.com/en/aiways-u5-standaa...  ...    310
1      https://www.cars-data.com/en/aiways-u5-premium...  ...    310
2      https://www.cars-data.com/en/aiways-u5-showroo...  ...    310
3      https://www.cars-data.com/en/subaru-svx-specs/...  ...    309
4      https://www.cars-data.com/en/subaru-e-wagon-aw...  ...     97
...                                                  ...  ...    ...
16128  https://www.cars-data.com/en/tvr-sagaris-specs...  ...    420
16129  https://www.cars-data.com/en/tvr-tuscan-specs/...  ...    390
16130  https://www.cars-data.com/en/tvr-tuscan-s-spec...  ...    420
16131  https://www.cars-data.com/en/tvr-griffith-500-...  ...    490
16132  https://www.cars-data.com/en/tvr-griffith-400-...  ...   n.b.

[16133 rows x 34 columns]

In [ ]:
cars_data.columns

Index(['url', 'name', 'model', 'brand', 'price', 'eLabel', 'bodyType',
       'length', 'height', 'width', 'weight', 'weightTotal', 'emissionsCO2',
       'modelDate', 'fuelType', 'numberOfAxles', 'numberOfDoors',
       'numberOfForwardGears', 'seatingCapacity', 'vehicleTransmission',
       'cargoVolume', 'roofLoad', 'accelerationTime',
       'driveWheelConfiguration', 'fuelCapacity', 'fuelConsumption', 'speed',
       'payload', 'trailerWeight', 'vEengineType', 'vEfuelType',
       'vEengineDisplacement', 'vEenginePower', 'torque'],
      dtype='object')

Loại bỏ những cột không cần thiết

In [ ]:
col_drop = {'url','model', 'eLabel',
            'bodyType','weight','emissionsCO2', 
            'driveWheelConfiguration','vEfuelType',
            'vEenginePower','fuelConsumption'}
cars_data = cars_data.drop(col_drop,axis = 1)
cars_data

                      name   brand  ...  vEengineDisplacement torque
0      Aiways U5 Standaard  Aiways  ...                   NaN    310
1        Aiways U5 Premium  Aiways  ...                   NaN    310
2       Aiways U5 Showroom  Aiways  ...                   NaN    310
3               Subaru SVX  Subaru  ...               3319 cc    309
4       Subaru E-wagon AWD  Subaru  ...               1189 cc     97
...                    ...     ...  ...                   ...    ...
16128          TVR Sagaris     TVR  ...               3996 cc    420
16129           TVR Tuscan     TVR  ...               3605 cc    390
16130         TVR Tuscan S     TVR  ...               3996 cc    420
16131     TVR Griffith 500     TVR  ...               4997 cc    490
16132     TVR Griffith 400     TVR  ...               3950 cc   n.b.

[16133 rows x 24 columns]

Loại bỏ đơn vị của các thuộc tính dạng số

In [ ]:
cars_data['length'] = cars_data['length'].map(lambda x: x.rstrip('mm'))
cars_data['height'] = cars_data['height'].map(lambda x: x.rstrip('mm'))
cars_data['width'] = cars_data['width'].map(lambda x: x.rstrip('mm'))
cars_data['fuelCapacity'] = cars_data['fuelCapacity'].str.replace(r'\D','')
cars_data['vEengineDisplacement'] = cars_data['vEengineDisplacement'].str.replace(r'\D','')
cars_data['cargoVolume'] = cars_data['cargoVolume'].map(lambda x: x.strip('l'))

Hàm để xử lý cột cargoVolume

In [ ]:
def cvtFloat_cargoVolume(x):
    temp = x.split()[0]
    temp = temp.replace('-', ' ')
    temp = temp.split()
    if len(temp) > 0:
        temp = temp[-1]
    else:
        temp = x
    val = None
    try:
        val = float(temp)
    except ValueError:
        return val
    return val

In [ ]:
cars_data['cargoVolume'] = cars_data['cargoVolume'].apply(cvtFloat_cargoVolume)

In [ ]:
cars_data['speed'] = cars_data['speed'].map(lambda x: x.rstrip('km/h'))
cars_data['payload'] = cars_data['payload'].map(lambda x: x.rstrip('kg'))
cars_data['trailerWeight'] = cars_data['trailerWeight'].map(lambda x: x.rstrip('kg'))

Hàm ép kiểu float

In [ ]:
def cvtFloat(x):
    if type(x) == str:
        temp = x.replace(',', '.').split()[0]
    else:
        temp = x
    val = None
    try:
        val = float(temp)
    except ValueError:
        return val
    return val

In [ ]:
cars_data['accelerationTime'] = cars_data['accelerationTime'].apply(cvtFloat)

In [ ]:
cars_data

                      name   brand  ...  vEengineDisplacement torque
0      Aiways U5 Standaard  Aiways  ...                   NaN    310
1        Aiways U5 Premium  Aiways  ...                   NaN    310
2       Aiways U5 Showroom  Aiways  ...                   NaN    310
3               Subaru SVX  Subaru  ...                  3319    309
4       Subaru E-wagon AWD  Subaru  ...                  1189     97
...                    ...     ...  ...                   ...    ...
16128          TVR Sagaris     TVR  ...                  3996    420
16129           TVR Tuscan     TVR  ...                  3605    390
16130         TVR Tuscan S     TVR  ...                  3996    420
16131     TVR Griffith 500     TVR  ...                  4997    490
16132     TVR Griffith 400     TVR  ...                  3950   n.b.

[16133 rows x 24 columns]

Loại bỏ các dòng bị lỗi, các dòng không lấy được dữ liệu

In [ ]:
cars_data = cars_data[cars_data != '-']
cars_data

                      name   brand  ...  vEengineDisplacement torque
0      Aiways U5 Standaard  Aiways  ...                   NaN    310
1        Aiways U5 Premium  Aiways  ...                   NaN    310
2       Aiways U5 Showroom  Aiways  ...                   NaN    310
3               Subaru SVX  Subaru  ...                  3319    309
4       Subaru E-wagon AWD  Subaru  ...                  1189     97
...                    ...     ...  ...                   ...    ...
16128          TVR Sagaris     TVR  ...                  3996    420
16129           TVR Tuscan     TVR  ...                  3605    390
16130         TVR Tuscan S     TVR  ...                  3996    420
16131     TVR Griffith 500     TVR  ...                  4997    490
16132     TVR Griffith 400     TVR  ...                  3950   n.b.

[16133 rows x 24 columns]

In [ ]:
cars_data = cars_data[cars_data != '#NAME?']
cars_data

                      name   brand  ...  vEengineDisplacement torque
0      Aiways U5 Standaard  Aiways  ...                   NaN    310
1        Aiways U5 Premium  Aiways  ...                   NaN    310
2       Aiways U5 Showroom  Aiways  ...                   NaN    310
3               Subaru SVX  Subaru  ...                  3319    309
4       Subaru E-wagon AWD  Subaru  ...                  1189     97
...                    ...     ...  ...                   ...    ...
16128          TVR Sagaris     TVR  ...                  3996    420
16129           TVR Tuscan     TVR  ...                  3605    390
16130         TVR Tuscan S     TVR  ...                  3996    420
16131     TVR Griffith 500     TVR  ...                  4997    490
16132     TVR Griffith 400     TVR  ...                  3950   n.b.

[16133 rows x 24 columns]

In [ ]:
cars_data = cars_data[cars_data != 'n.b.']
cars_data

                      name   brand  ...  vEengineDisplacement torque
0      Aiways U5 Standaard  Aiways  ...                   NaN    310
1        Aiways U5 Premium  Aiways  ...                   NaN    310
2       Aiways U5 Showroom  Aiways  ...                   NaN    310
3               Subaru SVX  Subaru  ...                  3319    309
4       Subaru E-wagon AWD  Subaru  ...                  1189     97
...                    ...     ...  ...                   ...    ...
16128          TVR Sagaris     TVR  ...                  3996    420
16129           TVR Tuscan     TVR  ...                  3605    390
16130         TVR Tuscan S     TVR  ...                  3996    420
16131     TVR Griffith 500     TVR  ...                  4997    490
16132     TVR Griffith 400     TVR  ...                  3950    NaN

[16133 rows x 24 columns]

In [ ]:
cars_data = cars_data[cars_data != 't']
cars_data

                      name   brand  ...  vEengineDisplacement torque
0      Aiways U5 Standaard  Aiways  ...                   NaN    310
1        Aiways U5 Premium  Aiways  ...                   NaN    310
2       Aiways U5 Showroom  Aiways  ...                   NaN    310
3               Subaru SVX  Subaru  ...                  3319    309
4       Subaru E-wagon AWD  Subaru  ...                  1189     97
...                    ...     ...  ...                   ...    ...
16128          TVR Sagaris     TVR  ...                  3996    420
16129           TVR Tuscan     TVR  ...                  3605    390
16130         TVR Tuscan S     TVR  ...                  3996    420
16131     TVR Griffith 500     TVR  ...                  4997    490
16132     TVR Griffith 400     TVR  ...                  3950    NaN

[16133 rows x 24 columns]

In [ ]:
cars_data = cars_data.dropna()
cars_data

                                                 name  ... torque
3                                          Subaru SVX  ...    309
5                      Subaru Impreza 2.5 WRX STi AWD  ...    392
6                             Subaru Impreza 2.0R AWD  ...    186
7                             Subaru Impreza 2.0R AWD  ...    186
8                          Subaru Impreza 2.5 WRX AWD  ...    320
...                                               ...  ...    ...
16120  Seat Leon SC 2.0 TDI 184hp FR Business Intense  ...    380
16121        Seat Leon SC 1.8 TSI FR Business Intense  ...    250
16122                  Seat Leon SC 2.0 TSI Cupra 300  ...    380
16123                   Seat Leon SC 2.0 TDI 184hp FR  ...    380
16124                         Seat Leon SC 1.8 TSI FR  ...    250

[12913 rows x 24 columns]

Lưu lại thành csv

In [ ]:
cars_data.to_csv('cars_data_processed.csv',sep = '\t')

Load Data đã được xử lý

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('cars_data_processed.csv',sep = '\t',encoding='utf-8')
data

       Unnamed: 0  ... torque
0               3  ...    309
1               5  ...    392
2               6  ...    186
3               7  ...    186
4               8  ...    320
...           ...  ...    ...
12908       16120  ...    380
12909       16121  ...    250
12910       16122  ...    380
12911       16123  ...    380
12912       16124  ...    250

[12913 rows x 25 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12913 entries, 0 to 12912
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            12913 non-null  int64
 1   name                  12913 non-null  object
 2   brand                 12913 non-null  object
 3   price                 12913 non-null  float64
 4   length                12913 non-null  int64
 5   height                12913 non-null  int64
 6   width                 12913 non-null  int64
 7   weightTotal           12913 non-null  int64
 8   modelDate             12913 non-null  int64
 9   fuelType              12913 non-null  object
 10  numberOfAxles         12913 non-null  int64
 11  numberOfDoors         12913 non-null  int64
 12  numberOfForwardGears  12913 non-null  int64
 13  seatingCapacity       12913 non-null  object
 14  vehicleTransmission   12913 non-null  object
 15  cargoVolume           12913 non-null  float64
 16  roofLoad              12913 non-null  int64
 17  accelerationTime      12913 non-null  float64
 18  fuelCapacity          12913 non-null  int64
 19  speed                 12913 non-null  int64
 20  payload               12913 non-null  int64
 21  trailerWeight         12913 non-null  int64
 22  vEengineType          12913 non-null  object
 23  vEengineDisplacement  12913 non-null  int64
 24  torque                12913 non-null  int64
dtypes: float64(3), int64(16), object(6)
memory usage: 2.5+ MB